<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe with Node.js</title>
</head>
<body>
    <h1>Cart</h1>
    <h2>Test Stripe</h2>
    <h3>Price: $1.00</h3>
    <p>AI service used to find the best service for your needs!</p>
    <button href="/commission?cost=starter">Checkout</button>
</body>
</html>